.Home {
  /* margin-left:20px;
  margin-right: 20px; */
}

/* ------------font stuff ------------ */

h1{
  font-size: 36px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 800;
}

h2{
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 18px;
}

h3{
  margin-top: 12px;
  margin-bottom: 12px;
}

p{
  margin: 0;
}

a{
  color:#4B4C81;
  text-decoration: none;
}

.highlight{
  color: #CC6706;
  font-weight: 900;
  font-size: x-large;
  padding-left: 5px;
  padding-right: 5px;
}

.highlight:hover{
  background-color: #CC6706;
  color: #FFD3C4;
  border-radius: 5px;
}

.highlight2{
  color: #4B4C81;
  font-weight: 900;
  font-size:x-large
}

/* ------------font stuff ------------ */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
  margin-left: 30px;
  margin-right: 30px;
  min-height: 10vh;
  /* position:fixed; */
}

.nav-item-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  color: #4B4C81;
}

.nav-item{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.nav-item:hover{
  background-color:#4B4C81;
  color:#D8DDFD;
  cursor: pointer;
}

#logo{
  font-size: 30px;
  font-weight: 900;
  color: #4B4C81;
  padding-left: 5px;
  padding-right: 5px;
}

#logo:hover{
  color:#D8DDFD;
  background-color: #4B4C81;
  border-radius: 5px;
}

.welcome{
  background-color: #F7F4FF;
}

.horizontal-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.horizontal-wrapper::-webkit-scrollbar {
  display: none;
}

.card{
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}

.card-logo{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  width:30%;
}

.card-logo img{
  width: 70%;
  margin: 5px;
}

.card-text{
  color:#1D0F11;
  width: 70%;
  /* padding-right: 10%;  */
}

.card-text p{
  margin: 10px;
  padding-right: 10%;
  line-height: 150%;
}

.descriptions{
  display: flex;
}

.description-item{
  margin-right:5px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.logos{
  margin-left: 3px;
  margin-right: 3px;
  height: 30px;
  width: auto;
  display:inline;
}

.social-icon{
  font-size: 20px;
  margin-top: 18px;
  margin-right: 15px;
  color:#4B4C81;
}

.view-about{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-projects{
  min-height: 10vh;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#4B4C81;
  margin: 5px;
}

.view-projects p{
  padding: 10px;
  border-radius: 5px;
}
.view-projects p:hover{
  background-color:#4B4C81;
  color:#D8DDFD;
  cursor: pointer;
}


/* ---------------projects --------------- */

.projects{
  min-height: 100vh;
  width: 100%;
  background-color: #D8DDFD;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* ---------------footer --------------- */

.footer{
  background-color: #4B4C81;
  height: 50vh;
  color:#F7F4FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img{
  height: 18vh;
}

.footer-contact{
  margin: 18px;
}

.footer-contact .social-icon{
  font-size: 20px;
  margin: 10px;
  color:#D8DDFD;
}

.bye{
  display: flex;
  align-items: center;
}